body{
overflow-y:hidden;
background-color: #000;
}
.container{
width: 100%;
height: 100vh;
overflow: hidden;
}
#video{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100vh;
max-width: 1920px;
max-height: 1080px;
z-index: -2;
background-image: url(../image/Air-Technology.jpg);
background-size: 100% 100%;
background-attachment: fixed;
background-repeat: no-repeat;
display: none;
}
.black{
width: 100%;
height: 100vh;
position: fixed;
z-index: -1;
background: rgba(0, 0, 0, 0.45);
}
.top{
margin-top: 3.04%;
width: 100%;
height: auto;
float: left;
position:fixed;
top: 0;
z-index: 4;
}
.logo{
margin-left: 5.6%;
float: left;
width: 6%;
height: auto;
}
.logo img{
width: 100%;
height: auto;
}
.nav{
float: right;
margin-top: 1.456%;
margin-right: 4.274%;
width: 47%;
}
.nav ul{
list-style: none;
z-index: 1;
}
.nav ul li{
list-style: none;
display: block;
float: right;
margin-left: 4.6%;
height: 5.8vh;
padding-left: 2.5%;
padding-right: 2.5%;
}
.nav ul li a{
font-size: 1.07vw;
font-family: GothamBook;
color: #fff;
padding-bottom: 1.3vh;
border-bottom: solid rgba(255, 255, 255, 0);
border-bottom-width: 0.4vh;
padding: 1.3vh;
text-transform: uppercase;
margin: -1.3vh;
border-radius: 28px;
padding-top: 1.8vh;
}
.nav ul li:first-child a{
background-color: #8dc641;
}
.nav ul li:hover a{
border-bottom: solid rgba(255, 255, 255, 1);
}
.cor1{
position: fixed;
top: 0;
left: 0;
width: 6vw;
height: 6vw;
/*border-radius: 125px;*/
border-bottom-right-radius:  125px;
background-color: rgba(255, 255, 255, 0.25);
}
.cor2{
position: fixed;
top: 0;
right: 0;
width: 6vw;
height: 6vw;
border-bottom-left-radius:  125px;
background-color: rgba(255, 255, 255, 0.25);
}
.cor3{
position: fixed;
bottom: 0;
left: 0;
width: 6vw;
height: 6vw;
border-top-right-radius:  125px;
background-color: rgba(255, 255, 255, 0.25);
}
.cor4{
position: fixed;
bottom: 0;
right: 0;
width: 6vw;
height: 6vw;
border-top-left-radius:  125px;
background-color: rgba(255, 255, 255, 0.25);
}
.centx{
float: left;
width: 100%;
font-size: 2.8vw;
font-family: GothamBook;
color: #fff;
text-align: center;
margin-top: 22.78%;
}
.centx h3{
font-size: 4.5vw;
}

.footer{
background-color: #424242;
float: left;
/*padding-top: 2.77%;*/
}
.social{
float: left;
margin: 0 auto;
width: 21.5vw;
height: 5.6vh;
margin-top:1vh;
margin-left: 39.5vw;
}
.social img{
height: 98%;
width: auto;
}
